<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name></display-name>
	
	

	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.accumulate.userop.Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Regin</servlet-name>
		<servlet-class>com.accumulate.userop.Regin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NewsInfo</servlet-name>
		<servlet-class>com.accumulate.money.SunShineFind</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InvestmentProjects</servlet-name>
		<servlet-class>com.accumulate.money.InvestmentProjects</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EquityNews</servlet-name>
		<servlet-class>com.accumulate.money.EquityNews</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>KnowledgeOwnership</servlet-name>
		<servlet-class>com.accumulate.money.KnowledgeOwnership</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EquityReport</servlet-name>
		<servlet-class>com.accumulate.money.EquityReport</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FinancialMall</servlet-name>
		<servlet-class>com.accumulate.money.FinancialMall</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TapeAnalysis</servlet-name>
		<servlet-class>com.accumulate.finance.TapeAnalysis</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MyInfo</servlet-name>
		<servlet-class>com.accumulate.myinfo.MyInfo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>IndexNews</servlet-name>
		<servlet-class>com.accumulate.finance.IndexNews</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>QueryTeacher</servlet-name>
		<servlet-class>com.accumulate.teach.QueryTeacher</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TeacherInfo</servlet-name>
		<servlet-class>com.accumulate.teach.TeacherInfo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>IndexTeach</servlet-name>
		<servlet-class>com.accumulate.teach.IndexTeach</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>IndexSchool</servlet-name>
		<servlet-class>com.accumulate.school.IndexSchool</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateVersion</servlet-name>
		<servlet-class>com.accumulate.manager.UpdateVersion</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CompleteInfo</servlet-name>
		<servlet-class>com.accumulate.userop.CompleteInfo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Advice</servlet-name>
		<servlet-class>com.accumulate.manager.Advice</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SettingInfo</servlet-name>
		<servlet-class>com.accumulate.manager.SettingInfo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FinalType</servlet-name>
		<servlet-class>com.accumulate.finance.FinalSort</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/jucaipen/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Regin</servlet-name>
		<url-pattern>/jucaipen/regin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewsInfo</servlet-name>
		<url-pattern>/accumulate/sunShineFind</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InvestmentProjects</servlet-name>
		<url-pattern>/accumulate/investmentProjects</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EquityNews</servlet-name>
		<url-pattern>/accumulate/equityNews</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>KnowledgeOwnership</servlet-name>
		<url-pattern>/accumulate/knowledgeOwnership</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EquityReport</servlet-name>
		<url-pattern>/accumulate/equityReport</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FinancialMall</servlet-name>
		<url-pattern>/accumulate/financialMall</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TapeAnalysis</servlet-name>
		<url-pattern>/accumulate/tapeAnalysis</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MyInfo</servlet-name>
		<url-pattern>/accumulate/myInfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IndexNews</servlet-name>
		<url-pattern>/accumulate/indexNews</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QueryTeacher</servlet-name>
		<url-pattern>/accumulate/queryTeacher</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TeacherInfo</servlet-name>
		<url-pattern>/jucaipen/teacherInfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IndexTeach</servlet-name>
		<url-pattern>/accumulate/indexTeach</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IndexSchool</servlet-name>
		<url-pattern>/accumulate/indexSchool</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateVersion</servlet-name>
		<url-pattern>/accumulate/updateVersion</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CompleteInfo</servlet-name>
		<url-pattern>/accumulate/completeInfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Advice</servlet-name>
		<url-pattern>/accumulate/advice</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SettingInfo</servlet-name>
		<url-pattern>/servlet/SettingInfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FinalType</servlet-name>
		<url-pattern>/accumulate/finalType</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>NewsDetail</servlet-name>
		<servlet-class>com.accumulate.money.NewsDetail</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EquityDetail</servlet-name>
		<servlet-class>com.accumulate.money.EquityDetail</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SchoolType</servlet-name>
		<servlet-class>com.accumulate.school.SchoolType</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SchoolList</servlet-name>
		<servlet-class>com.accumulate.school.SchoolList</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TeachVideo</servlet-name>
		<servlet-class>com.accumulate.video.TeachVideo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OrderEquity</servlet-name>
		<servlet-class>com.accumulate.userop.OrderEquity</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FileDownLoad</servlet-name>
		<servlet-class>com.accumulate.userop.FileDownLoad</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MyRemark</servlet-name>
		<servlet-class>com.accumulate.myinfo.MyRemark</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>NewsCollect</servlet-name>
		<servlet-class>com.accumulate.myinfo.MyCollect</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdatePwd</servlet-name>
		<servlet-class>com.accumulate.userop.UpdatePwd</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InfoCenter</servlet-name>
		<servlet-class>com.accumulate.myinfo.InfoCenter</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MyReply</servlet-name>
		<servlet-class>com.accumulate.myinfo.MyReply</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdverQuerry</servlet-name>
		<servlet-class>com.accumulate.other.AdverQuerry</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ThreenBoard</servlet-name>
		<servlet-class>com.accumulate.money.ThreeBoard</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>QuerryComm</servlet-name>
		<servlet-class>com.accumulate.money.QuerryComm</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RelateArticle</servlet-name>
		<servlet-class>com.accumulate.money.RelateArticle</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PrivatePlaetDetail</servlet-name>
		<servlet-class>com.accumulate.money.PrivatePlaetDetail</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VideoResource</servlet-name>
		<servlet-class>com.accumulate.video.VideoResource</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServer</servlet-name>
		<servlet-class>com.accumulate.servermanager.LoginServer</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>QuerryProvince</servlet-name>
		<servlet-class>com.accumulate.base.QuerryProvince</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>QurreyCity</servlet-name>
		<servlet-class>com.accumulate.base.QuerryCity</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>QuerryArea</servlet-name>
		<servlet-class>com.accumulate.base.QuerryArea</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MyOrder</servlet-name>
		<servlet-class>com.accumulate.myinfo.MyOrder</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RemarkNews</servlet-name>
		<servlet-class>com.accumulate.userop.RemarkNews</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>QuerryCollect</servlet-name>
		<servlet-class>com.accumulate.myinfo.QuerryNewsCollect</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CollectNews</servlet-name>
		<servlet-class>com.accumulate.userop.CollectNews</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CollectEquity</servlet-name>
		<servlet-class>com.accumulate.userop.CollectEquity</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>QuerryEquityCollect</servlet-name>
		<servlet-class>com.accumulate.myinfo.QuerryEquityCollect</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddGood</servlet-name>
		<servlet-class>com.accumulate.userop.AddGood</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ChatMessage</servlet-name>
		<servlet-class>com.accumulate.chat.ChatMessage</servlet-class>
	</servlet>


































	<servlet-mapping>
		<servlet-name>NewsDetail</servlet-name>
		<url-pattern>/accumulate/newsDetail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EquityDetail</servlet-name>
		<url-pattern>/accumulate/equityDetail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SchoolType</servlet-name>
		<url-pattern>/accumulate/schoolType</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SchoolList</servlet-name>
		<url-pattern>/accumulate/schoolList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TeachVideo</servlet-name>
		<url-pattern>/accumulate/teachVideo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OrderEquity</servlet-name>
		<url-pattern>/accumulate/orderEquity</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FileDownLoad</servlet-name>
		<url-pattern>/accumulate/FileDownLoad</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MyRemark</servlet-name>
		<url-pattern>/jucaipen/myRemark</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>NewsCollect</servlet-name>
		<url-pattern>/jucaipen/myCollect</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdatePwd</servlet-name>
		<url-pattern>/jucaipen/updatePwd</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InfoCenter</servlet-name>
		<url-pattern>/accumulate/infoCenter</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MyReply</servlet-name>
		<url-pattern>/jucaipen/myReply</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdverQuerry</servlet-name>
		<url-pattern>/jucaipen/adverQuerry</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ThreenBoard</servlet-name>
		<url-pattern>/jucaipen/threeBoard</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QuerryComm</servlet-name>
		<url-pattern>/jucaipen/querryComm</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RelateArticle</servlet-name>
		<url-pattern>/jucaipen/relateArticle</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PrivatePlaetDetail</servlet-name>
		<url-pattern>/jucaipen/privatePlaetDetail</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VideoResource</servlet-name>
		<url-pattern>/jucaipen/videoResource</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServer</servlet-name>
		<url-pattern>/LoginServer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QuerryProvince</servlet-name>
		<url-pattern>/jucaipen/querryProvince</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QurreyCity</servlet-name>
		<url-pattern>/jucaipen/querryCity</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QuerryArea</servlet-name>
		<url-pattern>/jucaipen/querryArea</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MyOrder</servlet-name>
		<url-pattern>/jucaipen/myOrder</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RemarkNews</servlet-name>
		<url-pattern>/jucaipen/remarkNews</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QuerryCollect</servlet-name>
		<url-pattern>/jucaipen/querryNewsCollect</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CollectNews</servlet-name>
		<url-pattern>/jucaipen/collectNews</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CollectEquity</servlet-name>
		<url-pattern>/jucaipen/collectEquity</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QuerryEquityCollect</servlet-name>
		<url-pattern>/jucaipen/querryEquityCollect</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddGood</servlet-name>
		<url-pattern>/jucaipen/addGood</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ChatMessage</servlet-name>
		<url-pattern>/jucaipen/chatMessage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>QuerryIsLogin</servlet-name>
		<servlet-class>com.accumulate.manager.QuerryIsLogin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateOtherAccount</servlet-name>
		<servlet-class>com.accumulate.userop.UpdateOtherAccount</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OtherAccountLogin</servlet-name>
		<servlet-class>com.accumulate.userop.OtherAccountLogin</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OtherAccountList</servlet-name>
		<servlet-class>com.accumulate.myinfo.OtherAccountList</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VideoDetaile</servlet-name>
		<servlet-class>com.accumulate.video.VideoDetaile</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>QuerryExpressType</servlet-name>
		<servlet-class>com.accumulate.base.QuerryExpressType</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>QuerryExpressInfo</servlet-name>
		<servlet-class>com.accumulate.base.QuerryExpressInfo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>QuerryChatFace</servlet-name>
		<servlet-class>com.accumulate.base.QuerryChatFace</servlet-class>
	</servlet>
  <servlet>
    <servlet-name>UploadUserLogo</servlet-name>
    <servlet-class>com.accumulate.userop.UploadUserLogo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownUserLogo</servlet-name>
    <servlet-class>com.accumulate.userop.DownUserLogo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UploadApk</servlet-name>
    <servlet-class>com.accumulate.manager.UploadApk</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DownLoadApk</servlet-name>
    <servlet-class>com.accumulate.manager.DownLoadApk</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IdeaCommList</servlet-name>
    <servlet-class>com.accumulate.teacgeridea.IdeaCommList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FamousTeacherList</servlet-name>
    <servlet-class>com.accumulate.teacgeridea.FamousTeacherList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AskList</servlet-name>
    <servlet-class>com.accumulate.teacgeridea.AskList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TeacherQuestion</servlet-name>
    <servlet-class>com.accumulate.teacgeridea.TeacherQuestion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HotIdeaDetaile</servlet-name>
    <servlet-class>com.accumulate.teacgeridea.HotIdeaDetaile</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FamousTeacherDetaile</servlet-name>
    <servlet-class>com.accumulate.teacgeridea.FamousTeacherDetaile</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AskQuestion</servlet-name>
    <servlet-class>com.accumulate.teacgeridea.AskQuestion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TeacherAttention</servlet-name>
    <servlet-class>com.accumulate.teacgeridea.TeacherAttention</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddSigin</servlet-name>
    <servlet-class>com.accumulate.teacgeridea.AddSigin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FamousDish</servlet-name>
    <servlet-class>com.accumulate.teacgeridea.FamousDish</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FansList</servlet-name>
    <servlet-class>com.accumulate.teacgeridea.FansList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuerryAskClass</servlet-name>
    <servlet-class>com.accumulate.teacgeridea.QuerryAskClass</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TodayIdeas</servlet-name>
    <servlet-class>com.accumulate.teacgeridea.TodayIdeas</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IndexStatisticsData</servlet-name>
    <servlet-class>com.accumulate.teacgeridea.IndexStatisticsData</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HotIdeaByTeacher</servlet-name>
    <servlet-class>com.accumulate.teacgeridea.HotIdeaByTeacher</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CommunicationInfo</servlet-name>
    <servlet-class>com.accumulate.teacgeridea.CommunicationInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QuestionForTeacher</servlet-name>
    <servlet-class>com.accumulate.teacgeridea.AnswerForTeacher</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AskForTeacher</servlet-name>
    <servlet-class>com.accumulate.teacgeridea.AskForTeacher</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SendMobileCode</servlet-name>
    <servlet-class>com.accumulate.manager.SendMobileCode</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckMobileCode</servlet-name>
    <servlet-class>com.accumulate.manager.CheckMobileCode</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HotIdeaGoods</servlet-name>
    <servlet-class>com.accumulate.teacgeridea.HotIdeaGoods</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddIdeaComm</servlet-name>
    <servlet-class>com.accumulate.teacgeridea.AddIdeaComm</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HotIdeaList</servlet-name>
    <servlet-class>com.accumulate.teacgeridea.HotIdeasList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddExChange</servlet-name>
    <servlet-class>com.accumulate.teacgeridea.AddExChange</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindFamousTeacher</servlet-name>
    <servlet-class>com.accumulate.teacgeridea.FindFamousTeacher</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AskForTeacherInfo</servlet-name>
    <servlet-class>com.accumulate.teacgeridea.AskForTeacherInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PushTextLive</servlet-name>
    <servlet-class>com.accumulate.teacgeridea.PushTextLive</servlet-class>
        <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>QuerryAttention</servlet-name>
    <servlet-class>com.accumulate.teacgeridea.QuerryAttention</servlet-class>
  </servlet>






































	<servlet-mapping>
		<servlet-name>QuerryIsLogin</servlet-name>
		<url-pattern>/jucaipen/querryIsLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateOtherAccount</servlet-name>
		<url-pattern>/jucaipen/updateOtherAccount</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OtherAccountLogin</servlet-name>
		<url-pattern>/jucaipen/otherAccountLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OtherAccountList</servlet-name>
		<url-pattern>/jucaipen/otherAccountList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VideoDetaile</servlet-name>
		<url-pattern>/jucaipen/videoDetaile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QuerryExpressType</servlet-name>
		<url-pattern>/jucaipen/querryExpressType</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QuerryExpressInfo</servlet-name>
		<url-pattern>/jucaipen/querryExpressInfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QuerryChatFace</servlet-name>
		<url-pattern>/jucaipen/querryChatFace</url-pattern>
	</servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadUserLogo</servlet-name>
    <url-pattern>/jucaipen/uploadUserLogo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownUserLogo</servlet-name>
    <url-pattern>/jucaipen/downUserLogo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadApk</servlet-name>
    <url-pattern>/jucaipen/uploadApk</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DownLoadApk</servlet-name>
    <url-pattern>/jucaipen/downLoadApk</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FamousTeacherList</servlet-name>
    <url-pattern>/jucaipen/famousTeacherList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AskList</servlet-name>
    <url-pattern>/jucaipen/askList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeacherQuestion</servlet-name>
    <url-pattern>/jucaipen/teacherQuestion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HotIdeaDetaile</servlet-name>
    <url-pattern>/jucaipen/hotIdeaDetaile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FamousTeacherDetaile</servlet-name>
    <url-pattern>/jucaipen/famousTeacherDetaile</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AskQuestion</servlet-name>
    <url-pattern>/jucaipen/askQuestion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TeacherAttention</servlet-name>
    <url-pattern>/jucaipen/teacherAttention</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddSigin</servlet-name>
    <url-pattern>/jucaipen/addSigin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FamousDish</servlet-name>
    <url-pattern>/jucaipen/famousDish</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FansList</servlet-name>
    <url-pattern>/jucaipen/fansList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuerryAskClass</servlet-name>
    <url-pattern>/jucaipen/querryAskClass</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TodayIdeas</servlet-name>
    <url-pattern>/jucaipen/todayIdeas</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexStatisticsData</servlet-name>
    <url-pattern>/jucaipen/indexStatisticsData</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HotIdeaByTeacher</servlet-name>
    <url-pattern>/jucaipen/hotIdeaByTeacher</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CommunicationInfo</servlet-name>
    <url-pattern>/jucaipen/communicationInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuestionForTeacher</servlet-name>
    <url-pattern>/jucaipen/answerForTeacher</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AskForTeacher</servlet-name>
    <url-pattern>/jucaipen/askForTeacher</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SendMobileCode</servlet-name>
    <url-pattern>/jucaipen/sendMobileCode</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckMobileCode</servlet-name>
    <url-pattern>/jucaipen/checkMobileCode</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HotIdeaGoods</servlet-name>
    <url-pattern>/jucaipen/hotIdeaGoods</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddIdeaComm</servlet-name>
    <url-pattern>/jucaipen/addIdeaComm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IdeaCommList</servlet-name>
    <url-pattern>/jucaipen/ideaCommList</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HotIdeaList</servlet-name>
        <url-pattern>/jucaipen/hotIdeaList</url-pattern>
    </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddExChange</servlet-name>
    <url-pattern>/jucaipen/addExChange</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindFamousTeacher</servlet-name>
    <url-pattern>/jucaipen/findFamousTeacher</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AskForTeacherInfo</servlet-name>
    <url-pattern>/jucaipen/askForTeacherInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PushTextLive</servlet-name>
    <url-pattern>/jucaipen/pushTextLive</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QuerryAttention</servlet-name>
    <url-pattern>/jucaipen/querryAttention</url-pattern>
  </servlet-mapping>
    <servlet>
        <servlet-name>WebPush</servlet-name>
        <servlet-class>com.accumulate.manager.WebPushInfo</servlet-class>
    </servlet>
  <servlet>
    <servlet-name>PullTodayIdea</servlet-name>
    <servlet-class>com.accumulate.teacgeridea.PullTodayIdea</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PrivateDynamic</servlet-name>
    <servlet-class>com.accumulate.finance.PrivateDynamic</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IsPurshLive</servlet-name>
    <servlet-class>com.accumulate.teacgeridea.IsPurshLive</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>TxtLivePayInfo</servlet-name>
    <servlet-class>com.accumulate.teacgeridea.TxtLivePayInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SubmitPayInfo</servlet-name>
    <servlet-class>com.accumulate.teacgeridea.SubmitPayInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetOrderCode</servlet-name>
    <servlet-class>com.accumulate.teacgeridea.GetOrderCode</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>PayOrder</servlet-name>
    <servlet-class>com.accumulate.teacgeridea.PayOrder</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>NewsIndexList</servlet-name>
    <servlet-class>com.accumulate.finance.NewsIndexList</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FinalInfo</servlet-name>
    <servlet-class>com.accumulate.finance.FinalInfo</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ImageUpload</servlet-name>
    <servlet-class>com.accumulate.userop.ImageUpload</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdatePhone</servlet-name>
    <servlet-class>com.accumulate.userop.UpdatePhone</servlet-class>
  </servlet>











    <servlet-mapping>
        <servlet-name>WebPush</servlet-name>
        <url-pattern>/jucaipen/webPush</url-pattern>
    </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PullTodayIdea</servlet-name>
    <url-pattern>/jucaipen/pullTodayIdea</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PrivateDynamic</servlet-name>
    <url-pattern>/jucaipen/privateDynamic</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IsPurshLive</servlet-name>
    <url-pattern>/jucaipen/isPurshLive</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TxtLivePayInfo</servlet-name>
    <url-pattern>/jucaipen/txtLivePayInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubmitPayInfo</servlet-name>
    <url-pattern>/jucaipen/submitPayInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetOrderCode</servlet-name>
    <url-pattern>/jucaipen/getOrderCode</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PayOrder</servlet-name>
    <url-pattern>/jucaipen/payOrder</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NewsIndexList</servlet-name>
    <url-pattern>/jucaipen/newsIndexList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FinalInfo</servlet-name>
    <url-pattern>/jucaipen/finalInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ImageUpload</servlet-name>
    <url-pattern>/jucaipen/imageUpload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdatePhone</servlet-name>
    <url-pattern>/jucaipen/updatePhone</url-pattern>
  </servlet-mapping>
</web-app>
